# System Files
.DS_Store
Thumbs.db

# Ignore the Windows .Desktop Files
desktop.ini

# Ignore the Compressed Files
*.zip
*.rar
*.gz
*.7z
.tar.gz

# Ignore the Data Directories
*/Dados/
*/Data/
*/Dataset/
*/Results/
*/dados/
*/data/
*/dataset/
*/results/

# Ignore the Data Files
*.csv
*.xlsx
*.txt

# Ignore compiled C/C++ files (with and without extensions)
*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib
*.a
*.lib
a.out      # Common default binary output on Unix-like systems
core        # Ignore core dumps (optional)

# Ignore build directories
/build/
/bin/
/dist/
/CMakeFiles/
/CMakeCache.txt
CMakeLists.txt.user
output/

# Ignore macOS files
Icon?
Icon\r
.DS_Store_
